{
  "extends": "./.config/.eslintrc",
  "rules": {
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.{ts,tsx}"],
      "rules": {
        "deprecation/deprecation": "off"
      }
    }
  ]
}